.hero {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.lion {
  display: none;
  margin-right: 4em;
  padding-top: $base-spacing;
  flex: 0 0 350px;

  @include media($large-screen) {
    display: block;
  }
}

h1 {
  font-size: modular-scale(4, 16px);
  font-weight: 500;

  @include media($medium-screen) {
    font-size: modular-scale(5, 16px);
  }

  .conference-name {
    font-size: modular-scale(6, 16px);
    font-weight: 700;
    text-transform: uppercase;

    @include media($medium-screen) {
      font-size: modular-scale(7, 16px);
    }
  }
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  margin-top: $base-spacing;

  @include media($large-screen) {
    flex-direction: row;
  }

  input {
    @include media($large-screen) {
      margin: 0;
    }
  }

  .button {
    margin-top: 0;

    @include media($large-screen) {
      margin-left: 1em;
    }
  }
}
.archive {
  margin-top: $base-spacing;
  display: flex;
}

.archive-links li {
  display: inline-block;
  margin-left: 1em;
}
